VITE_DATA_URL=http://localhost:5000
VITE_MICROSERVICE_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000
VITE_LIVEKIT_URL=ws://localhost:7880
# Turn server can be configured here if necessary
# VITE_TURN_SERVER_URL=turn:your-turn-server.com
# VITE_TURN_SERVER_USERNAME=username
# VITE_TURN_SERVER_CREDENTIAL=password
