django
djangorestframework
django-cors-headers
django-filter
daphne
channels
channels-redis
redis
psycopg2-binary
psycopg[binary]
requests
python-dotenv
gunicorn
drf-yasg
celery
pyjwt
python-decouple
django-extensions
